.main {
  width: 100%;
  font-family: 'Lato', sans-serif;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .main {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}