.people{
  display: flex;
  width: 100%;
  height: 1470px;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../img/block3_bg_1200.png);
  background-color: $darkViolette;
  background-repeat: no-repeat;
  &_bg{
    display: flex;
    flex-wrap: wrap;
    height: 1470px;
    flex-direction: row;
    align-items: baseline;
    justify-content: unset;
    margin: 0 auto;
  }

  &__main-text{
    display: block;
    width: 100%;
    color: $white;
    font-size: 37px;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 3px;
    line-height: 48px;
  }
  &__block1{
    @include flex-column;
    &__sprite1{
      width: 225px;
      height: 64px;
      background-image: url("../img/block3_img1.png");
      background-repeat: no-repeat;
      padding-bottom: 15px;
    }
    &__text1{
      color: $white;
      font-size: 16px;
      font-style: italic;
      text-align: center;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  &__block2{
    @include flex-column;
    &__sprite2{
      width: 225px;
      height: 64px;
      background-image: url("../img/block3_img2.png");
      background-repeat: no-repeat;

      padding-bottom: 15px;
    }
    &__text2{
      color: $white;
      font-size: 15px;
      font-style: italic;
      text-align: center;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  &__block3{
    @include flex-column;
    &__sprite3{
      width: 225px;
      height: 64px;
      background-image: url("../img/block3_img3.png");
      background-repeat: no-repeat;
      padding-bottom: 15px;
    }
    &__text3{
      color: $white;
      font-size: 16px;
      font-style: italic;
      text-align: center;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  &__block4{
    @include flex-column;
    &__sprite4{
      width: 225px;
      height: 64px;
      background-image: url("../img/block3_img4.png");
      background-repeat: no-repeat;
      padding-bottom: 15px;
    }
    &__text4{
      color: $white;
      font-size: 16px;
      font-style: italic;
      text-align: center;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  &__block5{
    @include flex-column;
    &__sprite5{
      width: 225px;
      height: 64px;
      background-image: url("../img/block3_img5.png");
      background-repeat: no-repeat;
      padding-bottom: 15px;
    }
    &__text5{
      color: $white;
      font-size: 16px;
      font-style: italic;
      text-align: center;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  &__block6{
    @include flex-column;
    &__sprite6{
      width: 225px;
      height: 64px;
      background-image: url("../img/block3_img6.png");
      background-repeat: no-repeat;
      padding-bottom: 15px;
    }
    &__text6{
      color: $white;
      font-size: 16px;
      font-style: italic;
      text-align: center;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .people{
    display: flex;
    flex-wrap: wrap;
    height: 890px;
    flex-direction: row;
    align-items: baseline;
    justify-content: unset;
    background-image: url(../img/block3_bg_1200.png);
    background-color: $darkViolette;
    background-repeat: no-repeat;
    &_bg{
      display: flex;
      flex-wrap: wrap;
      height: 890px;
      flex-direction: row;
      align-items: baseline;
      justify-content: unset;
      margin: 0 auto;
    }
    &__main-text{

      font-size: 44px;


      padding-top: 72px;
      letter-spacing: 3px;
      line-height: 48px;
    }
    &__block1{
      @include flex-column;
      width: 49%;
      &__sprite1{
        width: 225px;
        height: 64px;
        background-image: url("../img/block3_img1.png");
        background-repeat: no-repeat;
        padding-bottom: 15px;
      }
      &__text1{
      }
    }
    &__block2{
      @include flex-column;
      width: 49%;
      &__sprite2{
        width: 225px;
        height: 64px;
        background-image: url("../img/block3_img2.png");
        background-repeat: no-repeat;

        padding-bottom: 15px;
      }
      &__text2{

      }
    }
    &__block3{
      @include flex-column;
      width: 49%;
      &__sprite3{
        width: 225px;
        height: 64px;
        background-image: url("../img/block3_img3.png");
        background-repeat: no-repeat;
        padding-bottom: 15px;
      }
      &__text3{

      }
    }
    &__block4{
      @include flex-column;
      width: 49%;
      &__sprite4{
        width: 225px;
        height: 64px;
        background-image: url("../img/block3_img4.png");
        background-repeat: no-repeat;
        padding-bottom: 15px;
      }
      &__text4{

      }
    }
    &__block5{
      @include flex-column;
      width: 49%;
      &__sprite5{
        width: 225px;
        height: 64px;
        background-image: url("../img/block3_img5.png");
        background-repeat: no-repeat;
        padding-bottom: 15px;
      }
      &__text5{

      }
    }
    &__block6{
      @include flex-column;
      width: 49%;
      &__sprite6{
        width: 225px;
        height: 64px;
        background-image: url("../img/block3_img6.png");
        background-repeat: no-repeat;
        padding-bottom: 15px;
      }
      &__text6{

      }
    }
  }
}

@media screen and (min-width: 993px) {
  .people{
    display: flex;
    flex-wrap: wrap;
    height: 890px;
    flex-direction: row;
    align-items: baseline;
    justify-content: unset;
    background-image: url(../img/block3_bg_1200.png);
    background-color: $darkViolette;
    background-repeat: no-repeat;
    background-size: 100%;
    &_bg{
      width: 1200px;
      display: flex;
      flex-wrap: wrap;
      height: 890px;
      flex-direction: row;
      align-items: baseline;
      justify-content: unset;
      margin: 0 auto;
    }
    &__main-text{
      font-size: 44px;
      padding-top: 72px;
      letter-spacing: 3px;
      line-height: 48px;
    }
    &__block1{
      @include flex-column;
      width: 33%;
      &__sprite1{
        width: 225px;
        height: 64px;
        background-image: url("../img/block3_img1.png");
        background-repeat: no-repeat;
        padding-bottom: 15px;
      }
      &__text1{
      }
    }
    &__block2{
      @include flex-column;
      width: 33%;
      &__sprite2{
        width: 225px;
        height: 64px;
        background-image: url("../img/block3_img2.png");
        background-repeat: no-repeat;

        padding-bottom: 15px;
      }
      &__text2{

      }
    }
    &__block3{
      @include flex-column;
      width: 33%;
      &__sprite3{
        width: 225px;
        height: 64px;
        background-image: url("../img/block3_img3.png");
        background-repeat: no-repeat;
        padding-bottom: 15px;
      }
      &__text3{

      }
    }
    &__block4{
      @include flex-column;
      width: 33%;
      &__sprite4{
        width: 225px;
        height: 64px;
        background-image: url("../img/block3_img4.png");
        background-repeat: no-repeat;
        padding-bottom: 15px;
      }
      &__text4{

      }
    }
    &__block5{
      @include flex-column;
      width: 33%;
      &__sprite5{
        width: 225px;
        height: 64px;
        background-image: url("../img/block3_img5.png");
        background-repeat: no-repeat;
        padding-bottom: 15px;
      }
      &__text5{

      }
    }
    &__block6{
      @include flex-column;
      width: 33%;
      &__sprite6{
        width: 225px;
        height: 64px;
        background-image: url("../img/block3_img6.png");
        background-repeat: no-repeat;
        padding-bottom: 15px;
      }
      &__text6{

      }
    }
  }
}