// Все цвета заносим в переменные
$white: #ffffff;
$lightGrey: #f4f4f4;
$grey: #848e97;
$darkGrey: #323232;
$black: #000000;
$lightViolette: #a291a5;
$violette: #8d81ac;
$darkViolette: #4f384e;
$navColor: #27262a;

